<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DEMIGODS | Elden Ring Weapons API</title>
  <style>
    *,
    *:before,
    *:after {
      box-sizing: border-box;
    }

    :root {
      --accent: rgb(193, 157, 83);
      --accent-alt: crimson;
    }

    html {
      font-size: 62.5%;
    }

    body {
      min-height: 100vh;
      display: grid;
      place-items: center;
      margin: 0;
      background: #eee;
      font-family: monospace;
      font-size: 16px;
      line-height: 1.5;
      color: #333;
    }

    main {
      position: relative;
      max-width: 70em;
      width: 100%;
      padding: 1em;
      background: #fff;
      border-radius: 0.5em;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0 0 1rem 0;
    }

    .items {}

    .items > div {
      padding: 0.5em;
      margin: 0 0 4em 0;
      border-bottom: 1px solid #eee;
    }

    .items > div:last-of-type {
      margin-bottom: 0;
    }

    .items li {
      display: block;
      border-bottom: 1px solid #eee;
      padding: 0.5em 0;
    }

    .items li:last-of-type {
      border: 0;
    }

    a {
      color: crimson;
      transition: all 250ms ease-in-out;
    }

    a,
    a code {
      text-decoration: underline;
    }

    a:hover,
    a:active,
    a:focus {
      color: #000;
    }

    code,
    pre {
      font-size: inherit;
    }

    code {
      display: inline-block;
      padding: 3px 6px;
      border-radius: 5px;
      background: #eee;
    }

    em {
      color: #999;
    }

    header,
    footer {
      display: block;
    }

    header {
      text-align: center;
      margin: 0 0 1em 0;
      padding: 0 0 1em 0;
      border-bottom: 1px solid #eee;
    }

    footer {
      text-align: center;
      border-top: 1px solid #eee;
      margin: 1em 0 0 0;
      padding: 1em 0 0 0;
    }

    .btn {
      display: inline-block;
      background-color: var(--accent);
      color: #fff;
      padding: 1em 1.5em;
      border-radius: 5px;
      border: 0;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 2px;
    }

    .btn.sml {
      padding: 0.25em 0.5em;
      font-size: 14px;
      letter-spacing: 0;
      text-transform: none;
    }

    .btn:hover,
    .btn:active,
    .btn:focus {
      background: var(--accent-alt);
      color: #fff;
    }

    .toc {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      margin: 0 0 1em 0;
      padding: 1em;
      border-bottom: 1px solid #eee;
      background: #eee;
      border-radius: 1em;
    }

    .toc header {
      display: flex;
      align-items: center;
      gap: 1em;
      margin: 0;
      padding: 0;
    }

    .toc header > div {
      display: flex;
      align-items: center;
    }

    .toc header h3 {
      margin: 0;
      padding: 0;
    }

    .toc ul {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5em;
      margin: 0;

      visibility: hidden;
      height: 0;
      overflow: hidden;
    }

    .toc.active ul {
      visibility: visible;
      height: auto;
      margin: 0.5em 0 0 0;
      padding: 0.5em 0 0 0;
      border-top: 1px solid #ccc;
    }
  </style>
</head>

<body>
  <main>
    <a name="top"></a>
    <header>
      <h1>Welcome to the <span style="color: var(--accent-alt);">Elden Ring DEMIGODS</span> API!</h1>
      <p>
        This API returns a JSON response with information about all weapons in the Elden Ring universe.
      </p>
    </header>
    <div class="toc">
      <header>
        <div>
          <h3>Table of Contents:</h3>
        </div>
        <div>
          <button class="btn sml toc-toggle">
            <span class="toc-toggle-label">Show</span> ToC
          </button>
        </div>
        </header>
      <ul>
        <% for(let i=0; i < items.length; i++) { %>
          <li>
            <a class="btn sml goto-link" href="#<%= items[i].slug %>" data-title="<%= items[i].slug %>">
              /<%= items[i].slug %>
            </a>
          </li>
          <% } %>
      </ul>
    </div>
    <div class="items">
      <% for(let i=0; i < items.length; i++) { %>
        <div id="<%= items[i].slug %>">
          <ul>
            <li>
              <strong>Default:</strong>
              <a href="/<%= version %>/<%= items[i].slug %>" target="_blank">
                /<%= version %>/<%= items[i].slug %>
              </a>
            </li>
            <li>
              <strong>Tier:</strong>
              <code>/<%= version %>/<%= items[i].tier %></code> <em>(e.g. /crossbow/tier/e)</em>
            </li>
            <li>
              <strong>ID:</strong>
              <code>/<%= version %>/<%= items[i].id %></code> <em>(e.g. /crossbow/63)</em>
            </li>
            <li>
              <strong>Slug:</strong>
              <code>/<%= version %>/<%= items[i].fullSlug %></code> <em>(e.g.
                /crossbow/heavy-crossbow)</em>
            </li>
          </ul>
          <p><a class="btn sml" href="#top">Top &uarr;</a></p>
        </div>
        <% } %>
    </div>
    <footer>
      <p><a class="btn" href="#top">Back to top &uarr;</a></p>
    </footer>
  </main>
</body>

<script>
  const toggle = document.querySelector('.toc-toggle');
  const toc = document.querySelector('.toc');
  const label = document.querySelector('.toc-toggle-label');
  const links = document.querySelectorAll('.goto-link');
  let toggled = false;

  toggle.addEventListener('click', (ev) => {
    toc.classList.toggle('active');
    toggled = !toggled;
    toggled
      ? label.innerHTML = 'Hide'
      : label.innerHTML = 'Show';
  });

  links.forEach((i) => {
    i.addEventListener('click', (ev) => {
      toc.classList.remove('active');
      toggled = false;
      label.innerHTML = 'Show';

      const hash = ev.target.hash;
      const el = document.querySelector(hash);
      const headerOffset = 80;
      const elementPosition = el.getBoundingClientRect().top;
      const offsetPosition = elementPosition + window.pageYOffset - headerOffset;

      ev.preventDefault();

      window.scrollTo({
        top: offsetPosition,
        behavior: 'smooth',
      });
    });
  });
</script>
</html>